name: {{ safe_name }}-env
channels:
  - conda-forge
dependencies:
  - python=3.12
  - pip
  - pip:
      - scikit-learn
      - pandas
      - numpy
      - mlflow
      - azureml-mlflow
      - optuna
